MasFacil.TEST/App_WebReferences/oWSCFDI/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CFDRemote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeOfExecution" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFDRemoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CFDRemoteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFDLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeOfExecution" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFDLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CFDLocalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CFDRemoteSoapIn">
    <wsdl:part name="parameters" element="tns:CFDRemote" />
  </wsdl:message>
  <wsdl:message name="CFDRemoteSoapOut">
    <wsdl:part name="parameters" element="tns:CFDRemoteResponse" />
  </wsdl:message>
  <wsdl:message name="CFDLocalSoapIn">
    <wsdl:part name="parameters" element="tns:CFDLocal" />
  </wsdl:message>
  <wsdl:message name="CFDLocalSoapOut">
    <wsdl:part name="parameters" element="tns:CFDLocalResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CFDRemote">
      <wsdl:input message="tns:CFDRemoteSoapIn" />
      <wsdl:output message="tns:CFDRemoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CFDLocal">
      <wsdl:input message="tns:CFDLocalSoapIn" />
      <wsdl:output message="tns:CFDLocalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CFDRemote">
      <soap:operation soapAction="http://tempuri.org/CFDRemote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CFDLocal">
      <soap:operation soapAction="http://tempuri.org/CFDLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CFDRemote">
      <soap12:operation soapAction="http://tempuri.org/CFDRemote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CFDLocal">
      <soap12:operation soapAction="http://tempuri.org/CFDLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:60503/CFDI.Service/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:60503/CFDI.Service/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>